body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color: white;
}

.container {
    width: 420px;
    margin: 50px auto;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: none;
}

button {
    background: #ff9800;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff5722;
}

a {
    color: yellow;
    text-decoration: none;
}

.progress {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px 0;
}

.progress-bar {
    height: 20px;
    background: limegreen;
    text-align: center;
    color: black;
}
.warning {
    color: red;
    font-weight: bold;
}
.good { color: lightgreen; }
.avg { color: yellow; }
.bad { color: red; }
